* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #051b58;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  height: 500px;
  width: 700px;
  background: #FFF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.315);
}

.containerTop {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1a1a1a;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.divPicture {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerBottom {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(197, 196, 196);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.containerLeft {
  height: 100%;
  width: 50%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.containerTxt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  padding: 0px 10px;
}

.containerRight {
  height: 100%;
  width: 50%;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: #1A1A1A;
  background-color: #C5C4C4;
  font-weight: bold;
}

button:hover {
  background-color: #d4d4d4;
  transition: .5s;
}

@media(max-width: 725px){
    .container {
      height: 500px;
      width: 500px;
    }
}

@media(max-width: 530px){
  .App {
    height: 100%;
  }

  .container {
    height: 800px;
    width: 400px;
  }

  .containerTop {
    height: 30%;
  }

  .containerBottom {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .containerLeft {
    width: 100%;
  }

  .containerRight {
    width: 100%;
  }
}
