* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

.App {
  height: 100vh;
  width: 100%;
  background: #141414;
}

header {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #141414;
}

.headerLeft {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerTxt {
  font-size: 3em;
  color: #f5f5f5;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.719);
}

.headerRight {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerRight img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 3px solid #f5f5f5;
}

.userContainer {
  height: 100%;
  width: 100%;
  background-color: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.userContainer h1 {
  text-align: center;
  color: #F5F5F5;
  font-size: 2.5em;
}

.userInfo {
  height: 60%;
  width: 90%;
  background: #F5F5F5;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userLeft {
  height: 100%;
  width: 50%;
  border-right: 1px solid gray;
}

.userRight {
  height: 100%;
  width: 50%;
}

.userTxt {
  margin-top: 20px;
  padding: 0px 10px;
}

.userTxt p {
  font-size: 2em;
}

.userName {
  display: flex;
}

.lastName {
  margin-left: 10px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #F5F5F5;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #e0e0e0;
  transition: .5s;
}

@media(max-width:700px){
  header {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .headerTxt {
    text-align: center;
  }

  .headerLeft {
    height: 50%;
    width: 100%;
  }

  .headerRight {
    height: 50%;
    width: 100%;
  }
}

@media(max-width:570px){
  .userInfo {
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .userContainer {
    height: 150vh;
    width: 100%;
  }

  .userLeft {
    height: 100%;
    width: 100%;
    border-bottom: 1px solid gray;
  }

  .userRight {
    height: 100%;
    width: 100%;
  }

  .userTxt {
    margin-top: 30px;
  }
}



